MYSQL_USER=MYSQL_USER
MYSQL_PASSWORD=MYSQL_PASSWORD
DUMMY_ADMIN_EMAIL=DUMMY_ADMIN_EMAIL
DUMMY_ADMIN_PASSWORD=DUMMY_ADMIN_PASSWORD
DUMMY_DEBUG_EMAIL=DUMMY_DEBUG_EMAIL
DUMMY_DEBUG_PASSWORD=DUMMY_DEBUG_PASSWORD
