%h1= "View Packages"
- if current_user&.admin?
  %ul.breadcrumb
    %li= link_to("Admin", admin_path)

-if @view_packages.length > 0
  - @view_packages.each do |view|
    %a= link_to(view.human_name, view_package_path(view.id))
    %p Description
    %p= view.description
-else
  %p There are no view packages available currently.
