%div.reading
  -@view_packages.each do |view|
    %div{class:"reader_#{view[1]}"}
      -if view[1] == :tei
        %div.row
          %div.checkbox
            %label{for:"toggle_word_wrap"}
              ="Toggle Soft Wrap"
            =check_box_tag :toggle_word_wrap,  id:'toggle_word_wrap', name:'toggle_word_wrap'
          %div.checkbox
            %label{ for:"toggle_invisibles"}
              ="Toggle Invisibles"
            =check_box_tag :toggle_invisibles, id:'toggle_invisibles', name: 'toggle_invisibles'
        %pre#ace
          = @core_file.canonical_object.content.content.force_encoding('utf-8')
      -else
        - reader_view = @core_file.send(view[1].to_sym)
        - if reader_view && reader_view.content.content
          = reader_view.content.content.html_safe.force_encoding('utf-8')
        - else
          = "This view package could not be rendered"
