#app-header-nav#header-navbar.navbar.navbar-default.navbar-static-top{role: "navigation"}
  %div{class: container_classes}
    .navbar-header
      %button.navbar-toggle.btn.collapsed{"data-target" => "#user-util-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: '/'}
    #user-util-collapse.collapse.navbar-collapse
      = render :partial=>'/main_menu'
      = render :partial=>'/user_util_links'
