<div id="sidebar" class="<%= sidebar_classes %>">
  <%= render 'catalog/search_sidebar' %>
</div>

<div id="content" class="<%= main_content_classes %>">
  <%= render 'catalog/search_results' %>
</div>
