/*
  TAPAS styles

  Refactored from the TAPAS themes for Drupal.
 */
:root {
  --tapas-border-color: #888;
  --tapas-border-radius: var(--bs-border-radius);
  /* TAPAS-specific variables */
  --tapas-block-main: white;
  --tapas-block-dark: #26333F;
  --tapas-block-mid: #3F5A74; /* originally #4E5D6C */
  --tapas-block-light: #F5F5F5;
  --tapas-accent-orig: #DF691A;
  --tapas-accent-mid: #FF8A3D; /* stands out well against block-dark (5.50 contrast ratio) */
  --tapas-accent2-light: #A1F5BE; /* stands out well against block-dark (5.58 contrast ratio) */
  --tapas-link-color: #0061EF;
  --tapas-link-hover: #A84B0D;
  --tapas-text-dark: #090909;
  --tapas-text-light: #EBEBEB;
  --tapas-transparency: rgba(0,0,0,0);
  /* Reset Bootstrap defaults: */
  --bs-border-color: var(--tapas-border-color);
  --bs-body-color: var(--tapas-text-dark);
}
:root .table {
  --bs-table-striped-bg: var(--tapas-block-light);
}

body {
  background-color: var(--tapas-block-dark);
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

* + section {
  margin-top: 1.5rem;
}

h1, .h1 {
  margin: 1.25rem 0 1rem;
}

a,
.nav-link {
  /* Replace links' underlines with a border for readability. We want the link-ness 
    of these to be evident without relying solely on color. */
  border-bottom: thin dotted;
  color: var(--tapas-link-color);
  text-decoration: none;
}
a:hover, a:focus,
.nav-link:hover,
.nav-link:focus {
  border-bottom-style: solid;
  color: var(--tapas-link-hover);
}

/*
 * BOOTSTRAP STYLE OVERRIDES
 */
@media (min-width: 48rem) {
  /* The sticky header is usually z-index 1020, but this cuts off open dropdown 
    menus in the TAPAS header (z-index 1000). */
  .sticky-md-top {
    z-index: 950;
  }
}
.alert {
  /* Use the standard dark text color for warning alerts, rather than Bootstrap's 
    dark yellow. (We may want to override the text color for other alert types as 
    well.) */
}
.alert.alert-warning {
  color: var(--tapas-text-dark);
}

.card-sequence {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.card-sequence .card {
  flex: 1;
  position: unset;
}
@media (min-width: 48rem) {
  .card-sequence {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .card-sequence .card {
    min-width: 40%;
  }
}

h1 .btn, h2 .btn, h3 .btn, h4 .btn, h5 .btn, h6 .btn {
  font-size: inherit;
}

.nav-tabs {
  gap: 0.5rem;
}
.nav-tabs .nav-link {
  border-color: var(--tapas-border-color);
}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  border-color: var(--tapas-border-color);
  box-shadow: 0 0 0.5rem var(--tapas-accent-mid);
  text-decoration: underline;
}

/* 
 * HEADER
 */
#skip-link a {
  border: thin solid var(--tapas-accent-orig);
  color: var(--tapas-accent-mid);
  display: block;
  margin: 0.5rem 1rem;
  padding: 0.5rem 1rem;
}

#header {
  background-color: var(--tapas-block-mid);
  font-size: 1.125em;
}
#header > .container-fluid {
  align-items: baseline;
}
#header a, #header .nav-link {
  border: thin solid var(--tapas-transparency);
  color: var(--tapas-text-light);
}
#header a:focus, #header .nav-link:focus {
  background-color: var(--tapas-block-dark);
  border-color: var(--tapas-accent-mid);
}
#header a.logo {
  align-items: baseline;
  display: flex;
  flex: 0 1 auto;
}
#header a.logo img {
  align-self: center;
  max-width: 50px;
  margin-right: 0.5em;
}
#header a.logo .navbar-brand {
  color: inherit;
  font-size: 1.5em;
}
#header .navbar-toggler {
  background-color: var(--tapas-block-main);
}
#header #header-nav {
  justify-content: space-between;
}
#header #header-nav .navbar-nav {
  gap: 0.5em;
}
#header .dropdown-menu a {
  color: unset;
}
#header .dropdown-menu a:focus {
  background-color: var(--tapas-transparency);
}

/*
 * FOOTER
 */
.footer {
  color: var(--tapas-text-light);
  padding: 2rem 2rem 1em;
}
.footer a {
  color: var(--tapas-accent-mid);
}
.footer a:hover, .footer a:focus {
  color: var(--tapas-accent-mid);
}
.footer a.logo {
  display: inline-block;
  padding: 0.25em;
}
.footer .nav {
  margin-bottom: 1rem;
}
.footer .nav a {
  border: thin solid var(--tapas-transparency);
}
.footer .nav a:focus {
  background-color: var(--bs-body-color); /* rgb(33, 37, 41) */
  border-color: var(--tapas-accent-mid);
}
.footer #footer-about > .row {
  align-items: baseline;
}

/*
 * MAIN CONTENT
 *
 * Note: The `.main-container` is a sibling of the page header and footer, and may 
 *  contain additional navigation such as breadcrumbs. The `#main-content` is the 
 *  part of the `.main-container` with the <h1> heading, where the skip link will 
 *  take keyboard users.
 */
.main-container {
  background-color: var(--tapas-block-main);
  margin: 0;
  min-height: 2rem;
  padding: 2rem 1rem;
  /* Breadcrumbs */
}
@media (min-width: 62rem) {
  .main-container {
    padding: 2rem 10vw;
  }
}
.main-container nav.breadcrumbs {
  border-radius: var(--tapas-border-radius);
  border: thin solid #DDD;
  font-weight: 400;
  margin-bottom: 1.5rem;
  padding: 0.25rem 0.75rem;
}
.main-container nav.breadcrumbs .breadcrumb {
  margin-bottom: 0;
}
.main-container .breadcrumbs + #main-content {
  margin-top: 2rem;
}

/*
 * TAPAS CONTAINER
 *
 * Used for displaying projects and/or collections as a hierarchy.
 */
.tapas-container {
  border: thin solid var(--tapas-border-color);
  border-radius: var(--tapas-border-radius);
  margin: 1rem 0.25rem;
  /* When the `.tapas-container-content` is collapsed, Javascript will add the 
    "tapas-container-collapsed" class to the container. */
}
.tapas-container.project {
  /* Use more prominent colors for project-level headings. */
}
.tapas-container.project > .tapas-container-heading {
  background-color: var(--tapas-block-mid);
}
.tapas-container.project > .tapas-container-heading button {
  color: var(--tapas-text-light);
}
.tapas-container.project > .tapas-container-heading button:hover {
  color: var(--tapas-accent-mid);
}
.tapas-container.tapas-container-collapsed {
  /* Use the rounded corners for all edges of the heading. */
}
.tapas-container.tapas-container-collapsed .tapas-container-heading {
  border-radius: var(--tapas-border-radius);
}
.tapas-container .tapas-container-heading {
  align-items: baseline;
  background-color: var(--tapas-block-light);
  border-radius: var(--tapas-border-radius) var(--tapas-border-radius) 0 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.tapas-container .tapas-container-heading > h2,
.tapas-container .tapas-container-heading > h3 {
  display: inline-block;
  /* Move bottom margin from heading to the button, so we can toggle it off when 
    the section is collapsed. */
  margin-bottom: 0;
}
.tapas-container .tapas-container-heading .tapas-container-nav {
  display: inline-flex;
  gap: 0.5rem;
  margin: 0 0.5rem;
}
@media screen and (min-width: 30rem) {
  .tapas-container .tapas-container-heading .tapas-container-nav {
    margin: 0 2rem;
  }
}
.tapas-container .tapas-container-heading .tapas-container-nav a {
  color: var(--tapas-accent-mid);
}
.tapas-container .tapas-container-heading .tapas-container-nav.nav-tabs {
  align-self: end;
  border-bottom: none;
}
.tapas-container .tapas-container-heading .tapas-container-nav.nav-tabs a.nav-link {
  background-color: var(--tapas-block-main);
  color: var(--bs-black);
}
.tapas-container .tapas-container-heading button {
  align-items: baseline;
  background-color: inherit;
  border: medium solid var(--tapas-transparency);
  border-radius: var(--tapas-border-radius);
  display: flex;
  gap: 0.5rem;
  justify-content: start;
  padding: 0.25rem 0.5rem;
}
@media screen and (min-width: 30rem) {
  .tapas-container .tapas-container-heading button {
    padding: 0.25rem 1rem;
  }
}
.tapas-container .tapas-container-heading button.collapsed svg {
  transform: rotate(0.5turn);
}
.tapas-container .tapas-container-heading button:hover, .tapas-container .tapas-container-heading button:focus {
  color: var(--tapas-accent-orig);
}
.tapas-container .tapas-container-heading button:focus {
  border-color: var(--tapas-accent-mid);
}
.tapas-container .tapas-container-heading .badge {
  background-color: var(--tapas-block-main);
  border: thin solid var(--tapas-border-color);
  color: black;
}
.tapas-container .tapas-container-content {
  border-top: thin solid var(--tapas-border-color);
  border-radius: 0 0 var(--tapas-border-radius) var(--tapas-border-radius);
  padding: 1rem;
}
.tapas-container table.records-list th, .tapas-container table.records-list td {
  vertical-align: bottom;
}

/*
 * TEI READER
 */
.reader-container .reader-header {
  align-items: end;
  background-color: var(--tapas-block-main);
  border-bottom: thin solid var(--tapas-border-color);
  display: grid;
  gap: 0.75rem;
  grid-template-areas: "doctitle" "docdesc" "docnav";
  justify-content: space-between;
  /* `top` will only kick in when the header is sticky. By having a single pixel out of the viewport, 
    we can figure out if the header is sticking by testing if the `intersectingRatio` is < 1. */
  top: -1px;
  /* In larger screen sizes, the doc description should appear on the left of the tab 
    navigation bar. */
  /* Overriding styles for when the Reader header is sticking to the top of the viewport. */
}
@media (min-width: 62rem) {
  .reader-container .reader-header {
    grid-template-areas: "doctitle doctitle" "docdesc docnav";
    grid-template-columns: 1fr minmax(30%, max-content);
  }
}
.reader-container .reader-header h1 {
  grid-area: doctitle;
  margin: 0.5rem 1rem 0.25rem;
}
.reader-container .reader-header .reader-nav {
  grid-area: docnav;
  justify-self: end;
}
.reader-container .reader-header .reader-nav .nav {
  border-bottom: none;
}
.reader-container .reader-header .reader-nav .nav .vpkg-chooser .dropdown-toggle.active {
  background-color: var(--tapas-block-mid);
  border-bottom-color: var(--tapas-block-mid);
  color: var(--tapas-text-light);
}
.reader-container .reader-header .reader-desc {
  align-self: stretch;
  background-color: var(--tapas-block-light);
  border: thin solid var(--tapas-border-color);
  border-radius: var(--tapas-border-radius);
  grid-area: docdesc;
  margin: 0 0.5rem;
  padding: 0.25rem 0.5rem;
  /* In medium screen sizes and larger, only the top corners should have a modified border radius. */
}
@media (min-width: 62rem) {
  .reader-container .reader-header .reader-desc {
    border-bottom-color: var(--tapas-transparency);
    border-radius: var(--tapas-border-radius) var(--tapas-border-radius) 0 0;
    padding-bottom: 0;
  }
}
.reader-container .reader-header .reader-desc summary {
  color: var(--tapas-block-dark);
  font-size: 0.9em;
  padding: 0.15rem 0.5rem 0.25rem;
}
.reader-container #reader {
  padding: 2rem;
  border: thin solid var(--tapas-border-color);
  border-top: none;
  overflow: auto;
  /* Reset all CSS to browser defaults, so that the view package CSS can kick in. */
}
.reader-container #reader > .reader-view {
  all: initial;
}
.reader-container .jump-container {
  display: flex;
  justify-content: end;
  margin: 1rem -1rem 0.5rem 0;
}
.reader-container .jump-container.jump-sticky {
  bottom: 1rem;
  position: -webkit-sticky;
  position: sticky;
  z-index: 200;
}
.reader-container .jump-container #jump-to-top {
  background-color: var(--tapas-block-main);
  border: 2px solid var(--tapas-accent-orig);
  padding: 0.5rem;
}

/*# sourceMappingURL=tapas.css.map */
