<h2 class="sr-only top-content-title"><%= t('blacklight.search.search_results_header') %></h2>

<% @page_title = t('blacklight.search.page_title.title', :constraints => render_search_to_page_title(params), :application_name => application_name) %>

<%= render 'catalog/search_header' %>

<h2 class="sr-only"><%= t('blacklight.search.search_results') %></h2>
<%- if @response.empty? %>
  <%= render "zero_results" %>
<%- end %>
