<h2 class="page-title">
  Browse
</h2>
<%= render :partial=>'catalog/search_form' %>
<br/>
<ul class="nav nav-tabs browse-tabs">
  <li class="active">
    <a data-toggle="tab" data-type="communities" href="#projects">Projects</a>
  </li>
  <li>
    <a data-toggle="tab" data-type="collections" href="#collections">Collections</a>
  </li>
  <li>
    <a data-toggle="tab" data-type="core_files" href="#records">Records</a>
  </li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="projects">
    <p class="loading">
      Loading...
    </p>
  </div>
  <div class="tab-pane" id="collections">
    <p class="loading">
      Loading...
    </p>
  </div>
  <div class="tab-pane" id="records">
    <p class="loading">
      Loading...
    </p>
  </div>
</div>
<script>

  $(document).ready(function(){
    $(".browse-tabs a").click(function(e){
      var data_type = $(this).data('type');
      var type = "";
      if (data_type == 'communities'){
        type = "projects";
      }
      if (data_type == "collections"){
        type = "collections";
      }
      if (data_type == "core_files"){
        type = "records";
      }
      var href = "/" + data_type;
      get_script(href, type);

      function fixPagination() {
        $('#sortAndPerPage a').click( function(e) {
          e.preventDefault();
          var href = $(this).attr('href');
          var type = $(this).parents(".tab-pane").attr("id");
          get_script(href, type);
        });
        $(".facet_select, .constraint a, #startOverLink").click(function (e) {
          e.preventDefault();
          var type = $(this).parents(".tab-pane").attr("id");
          var data_type = "";
          if (type == "projects"){
            data_type = "communities";
          }
          if (type == "collections"){
            data_type = "collections";
          }
          if (type == "records"){
            data_type = "core_files";
          }
          var href = $(this).attr('href').replace("catalog", data_type);
          get_script(href, type);
        });
      }

      function get_script(href, type){
        $(".tab-pane:not(#"+type+")").html("<p class='loading'>Loading...</p>");
        $.getScript(href, function(data){
          console.log(data);
          console.log(data);
          console.log(data);
          console.log(data);
          $("#"+type).html(data.responseText);
        }).done( function() {
          fixPagination();
        }).fail(function(jqxhr){
          if (jqxhr.status == 200){
            $("#"+type).html(jqxhr.responseText);
            fixPagination();
          }
        });
      }
    });
    $(".browse-tabs li.active a").click();
  });


</script>
