// Place all the styles related to the core_files controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// fixes so the ace xml viewer is resizeable
.reader_tei {
  width: 100%;
  height: 500px;
  padding: 5px;
  position: relative;
}

#ace {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
}

.form-control.input-block-level {
  display: inline-block;
  width: auto;
}

.to-remove .btn {
  margin: 0;
  vertical-align: initial;
}

.py2 {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.record.tile, .collection.tile {
  text-align: center;
  border: 1px solid $gray-lighter;
  img {
    clear: both;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 10px;
  }
  h4 {
    padding: 10px;
  }
  .btn-xs {
    margin: 5px;
  }
}

.panel-records, .panel-collections, .panel-projects {
  .panel-title {
    font-size: 26px;
    small {
      padding-top: 5px;
    }
  }
}
