.row {
  width: 100%;
  display: block;
  margin: 0 auto;
  clear: both;
}

.document-thumbnail {
  max-width: 250px;
}

.breadcrumb {
  margin: 0 3em;
}

.filter {
    margin-top: 16px;
    .filter-values .selected {
        list-style: noneone;
        a:before {
            content: "x";
            margin-right: 5px;
        }
    }
}

#toolbar {
 z-index: 1600;
 position: fixed;
 top: 176px;
 .fa {
   color: #FFF;
   background: #DF691A;
 }

 .toolbar-link {
   display: block;
   text-decoration: none;
   background: #DF691A;
   color: #FFF;
   width: 2.5em;
   height: 2.5em;
   overflow: hidden;
 }
 .toolbar-link:hover, .toolbar-link:focus {
   width: auto;
   .toolbar-title {
     opacity: 1;
     visibility: visible;
     margin-left: 0;
   }
 }

 .toolbar-title {
   visibility: hidden;
   opacity: 0;
   transition: all, 0.2s, linear;
   color: #FFFFFF;
   margin-left: -100px;
   padding-right: 10px;
 }

 #tools, #feed, #bookbag, #search_tool {
   background: #FFFFFF;
   border: 1px solid #4E5D6C;
   margin-bottom: 0;
 }
}

#header-navbar .navbar-brand {
  background-size: cover;
  width: 260px;
}

.tabbable {
  margin-bottom: 20px;
}
.tabs-below, .tabs-left, .tabs-right {
  > .nav-tabs {
    border-bottom: 0;
    .summary {
      color: $nav-disabled-link-color;
      font-size: $font-size-small;
    }
  }
}
.tab-pane > .panel-heading {
  display: none;
}
.tab-content > .active {
  display: block;
}

// Below.
.tabs-below {
  > .nav-tabs {
    border-top: 1px solid $nav-tabs-border-color;
    > li {
      margin-top: -1px;
      margin-bottom: 0;
      > a {
        border-radius: 0 0 $border-radius-base $border-radius-base;
        &:hover,
        &:focus {
          border-top-color: $nav-tabs-border-color;
          border-bottom-color: transparent;
        }
      }
    }
    > .active {
      > a,
      > a:hover,
      > a:focus {
        border-color: transparent $nav-tabs-border-color $nav-tabs-border-color $nav-tabs-border-color;
      }
    }
  }
}

// Left and right tabs.
.tabs-left,
.tabs-right {
  > .nav-tabs {
    padding-bottom: 20px;
    width: 220px;
    > li {
      float: none;
      &:focus {
        outline: 0;
      }
      > a {
        margin-right: 0;
        margin-bottom: 3px;
        &:focus {
          outline: 0;
        }
      }
    }
  }
  > .tab-content {
    border-radius: 0 $border-radius-base $border-radius-base $border-radius-base;
    @include box-shadow(none);
    border: 1px solid $nav-tabs-border-color;
    overflow: hidden;
    padding: 10px 15px;
  }
}

// Left tabs.
.tabs-left {
  > .nav-tabs {
    float: left;
    margin-right: -1px;
    > li > a {
      border-radius: $border-radius-base 0 0 $border-radius-base;
      &:hover,
      &:focus {
        border-color: $nav-tabs-link-hover-border-color $nav-tabs-border-color $nav-tabs-link-hover-border-color $nav-tabs-link-hover-border-color;
      }
    }
    > .active > a,
    > .active > a:hover,
    > .active > a:focus {
      border-color: $nav-tabs-border-color transparent $nav-tabs-border-color $nav-tabs-border-color;
      @include box-shadow(none);
    }
  }
}

// Right tabs.
.tabs-right {
  > .nav-tabs {
    float: right;
    margin-left: -1px;
    > li > a {
      border-radius: 0 $border-radius-base $border-radius-base 0;
      &:hover,
      &:focus {
        border-color: $nav-tabs-link-hover-border-color $nav-tabs-link-hover-border-color $nav-tabs-link-hover-border-color $nav-tabs-border-color;
        @include box-shadow(none);
      }
    }
    > .active > a,
    > .active > a:hover,
    > .active > a:focus {
      border-color: $nav-tabs-border-color $nav-tabs-border-color $nav-tabs-border-color transparent;
    }
  }
}

.tabs-left{
  .vertical-tab-button{
    padding-right:0;
  }
  .vertical-tabs-list{
    padding-right:0;
  }
}

.vertical-tabs-panes {
 min-height: 250px;
}

dd {
 margin-left: 10px;
}

#toggle_word_wrap, #toggle_invisibles {
 margin-left: 0px;
 position: relative;
}

// .dropdown-menu {
//  background-color: $gray-lighter;
// }
//
// .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
//  background-color: darken($gray-lighter, 10%);
// }

// .facets-heading {
//  display: inline-block;
// }

.bootstrap-wysihtml5-insert-link-modal.fade.in, .bootsy-modal.fade.in {
 z-index: 1041;
}

#documents.row.gallery {
  display: block;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;

  .document {
    display: flex;
    flex: none;
    align-items: stretch;
    .thumbnail {
      width: 100%
    }
  }
}

#sort-dropdown .dropdown-toggle, #per_page-dropdown .dropdown-toggle {
  color: $component-active-color;

  .caret {
    color: $component-active-color;
  }
}

.navbar-nav > li > a {
  line-height: 31px;
}

.text-muted, .appliedFilter .filterName:after, .search_history .filterName, .search_history .filterSeparator {
  color: $gray-lighter;
}

#main-container img {
  width: 100%;
}

.carousel-caption {
  position: static;
}

.carousel-indicators {
  bottom: -10px;
}

.list-unstyled {
  border-bottom: 1px solid $gray-lighter;
}

.display-none {
  display: none;
}

/* https://tobiasahlin.com/spinkit/ */

.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.cube1, .cube2 {
  background-color: #999;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}
