= link_to "Home", "/communities", class: ['btn', 'btn-info', 'btn-large']
//TODO - this should not be a form
//this should show some fields plus the collections in the project
%h2.page-header Show Community
= render 'show_form'
