%ul.nav.navbar-nav
  - I18n.t('menus.main').each do |key, menu_item|
    %li{:class=>menu_item[:submenu]? "expanded dropdown" : ""}
      %a{:href=> menu_item[:url], :class=>menu_item[:submenu]? "dropdown-toggle" : "", "data-target"=>"#", "data-toggle"=>"dropdown" }
        =menu_item[:text]
        -if menu_item[:submenu]
          %span.caret
      - if menu_item[:submenu]
        %ul.dropdown-menu
          - menu_item[:submenu].each do |key, submenu_item|
            %li
              = link_to(submenu_item[:text], submenu_item[:url])
