%div.navbar-right
  .nav.navbar-nav
  - if current_user.nil?
    %button.btn.btn-primary.btn-sm.app-header-nav-buttons{href: '/users/sign_up', type: 'nav'}= t('nav.sign_up')
    %button.btn.btn-primary.btn-sm.app-header-nav-buttons{href: '/users/sign_in', type: 'nav'}= t("nav.log_in")
  - elsif current_user
    %button.btn.btn-primary.btn-sm.app-header-nav-buttons{href: '/my_tapas', type: 'nav'} My Tapas
    %button.btn.btn-primary.btn-sm.app-header-nav-buttons{href: '/users/edit', type: 'nav'}= current_user.name
    %button.btn.btn-primary.btn-sm.app-header-nav-buttons{href: '/users/sign_out', type: 'nav'}= t('blacklight.header_links.logout')
    - if current_user.admin?
      %button.btn.btn-primary.btn-sm.app-header-nav-buttons{href: '/admin', type: 'nav'} Admin
